<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix- Hub of Movies and Series</title>
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <!--&lt;!&ndash; Latest compiled and minified CSS&ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--&lt;!&ndash; jQuery library &ndash;&gt;-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->

    <!--&lt;!&ndash; Latest compiled JavaScript &ndash;&gt;-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>
<body><div id="wrapper">
    <div class="head"><header>
        <img src="logo.png"> <form class="logform">
        <label><strong>User Name</label>
        <input name="email" type="email" placeholder="Enter valid email" >
        <label>Password</label>
        <input name="password" type="password" placeholder="Enter Password">

        <input id="submit" name="submit" type="submit" value="login">
    </form>

    </header></div>
    <section>
        <div class="quote">Every Great Film<br>
            should seem new<br>
            Every Time you See it<br>
            &nbsp;&nbsp;&nbsp;&nbsp;- ROGER EBERT</div>
        <div id="regform">
            <form>
                    <input name="firstName"  type="text" placeholder="First Name"/>
                    <input name="lastName"  type="text" placeholder="Last Name" />
                    <input name="validEmail"  type="email" placeholder="Email" />
                    <input name="pwd" type="password" placeholder="Password" />
                    <input name="confirmPassword"  type="password" placeholder="Confirm Password" />
                    <button id="register" name="register" type="button">REGISTER</button>
            </form>
        </div>
    </section>

    <footer>
        <p>
            CONTACT US &nbsp; | &nbsp; Privacy Statement &nbsp; | &nbsp; Copyright @ 2017 Toshita Shastri

        </p>
    </footer>
</div>
</body>
</html>