nav{
    display: block;
    background-color: #333;
    color: white;
    padding: 5px ;
    font-family: Arial, sans-serif;
    line-height: 24px;
    font-size: 11px;
    text-transform: uppercase;

}
select{

    color: inherit;
    text-decoration-color: #2a323a;
}
.filter{
    border: 1px solid #dedede;
    height: 32px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    color:#3a3a3a;
    background:#efefef;
}
.text{
    height: 32px;
    color: black;
}
.decks{
    background-color: white;
    margin: 5px;
    padding: 1px 1px 1px 1px;
    display: inline-block;

}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
    color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: gold;
}
