<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix- Hub of Movies and Series</title>
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" type="text/css" href="videos.css" />
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <!-- Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body><div class="head"><header>
    <img src="logo.png">

</header></div>
<section>
    <nav>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sort by&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <select name="Sort" class ="filter" >
            <option value="" selected disabled hidden>Select</option>
            <option value="imdbRatings">imdb Ratings</option>
            <option value="sortyear">Year</option>
            <option value="imdbVotes">imdb Votes</option>
        </select>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Filters&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <select name="type" class="filter">

            <option value="" selected disabled hidden>Type</option>
            <option value="movie">Movies</option>
            <option value="series">Series</option>
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <select name="year" class="filter">

            <option value="" selected disabled hidden>Year</option>
            <option value="yr">//javascript//</option>
        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <select name="genre" class="filter ">

            <option value="" selected disabled hidden>Genre</option>
            <option value="Action">Action</option>
            <option value="Crime">Crime</option>
            <option value="Adventure">Adventure</option>
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="title" type="text" placeholder="Search by title name" class="text">
    </nav>
    <div class="card-deck">

    <div class="card decks" style="width: 20rem;">
        <img class="card-img-top" height="180px" width="100%" src="http://ia.media-imdb.com/images/M/MV5BMTU4MDU3NDQ5Ml5BMl5BanBnXkFtZTgwOTU5MDUxNTE@._V1_SX300.jpg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">&nbsp;Avengers: Age of Ultron&nbsp;</h4>
            <p class="card-text">&nbsp;imdbRating: 7.6<br>
                &nbsp;imdbVotes: 370909&nbsp;
            <div class="rating">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
            </div></p>
            <a href="#" class="btn btn-primary">More</a>

        </div>

    </div>
        <--!Javascript for  -->
        <div class="card decks" style="width: 20rem;">
            <img class="card-img-top" height="180px" width="100%" src="http://ia.media-imdb.com/images/M/MV5BMTU4MDU3NDQ5Ml5BMl5BanBnXkFtZTgwOTU5MDUxNTE@._V1_SX300.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">&nbsp;Avengers: Age of Ultron&nbsp;</h4>
                <p class="card-text">&nbsp;imdbRating: 7.6<br>
                    &nbsp;imdbVotes: 370909&nbsp;
                <div class="rating">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div></p>
                <a href="#" class="btn btn-primary">More</a>

            </div>

        </div>
    </div>
</section>
<footer>
    <p>
        CONTACT US &nbsp; | &nbsp; Privacy Statement &nbsp; | &nbsp; Copyright @ 2017 Toshita Shastri

    </p>
</footer>
</body>
</html>