<div class="head">
    <header>
        <img src="../../logo.png">

    </header>
</div>
<nav>
    <a [routerLink]="['../']" class="btn btn-primary" xmlns="http://www.w3.org/1999/html"
       xmlns="http://www.w3.org/1999/html">&lt; Back</a>
</nav>
<div class="contactus">
    <br>
    <i class="fa fa-at" style="font-size:48px;color:red"></i>

    <p>
        To request an interview or additional information about Movieflix, please send an email to: press@movieflix.com</p>

    <i class="material-icons" style="font-size:48px;color:red">call</i>
    <h3>Call Us</h3>
    <p >We´re here 24/7.</p>
    <p >1-800-1-800-180</p>
    <i class="fa fa-twitter-square" style="font-size:48px;color:red"></i>
    <p>Mention us with a shout out or question
        @Movieflix</p>
    <i class="material-icons" style="font-size:48px;color:red">email</i>

    <p>Write Us:<br>
        Movieflix Ltd.<br>
        P.O. Box 36647-1CR<br>
        Dallas, Texas 75235</p>
</div>